extends ../layout

block content
  .container
    p something crazy over here before the dang thing
      span.pq A pull quote
    form(id="new_item_form", action="/todo_items/create", method="post")
      label(for="new_todo_title") Enter Todo Item
      input#new_todo_title(type="text", placeholder="new todo item", name="todo_title")
      input(type="submit", value="save")
    
    ul#todo_items
      each todo_item in todo_items
        li 
          span(id="#{todo_item.id}") #{todo_item.title}
          a(href="/todo_items/delete/#{todo_item.id}") Delete

  script.
    $(function(){
      // $("#new_todo_form").blur(function(){
      //   console.log("blurring");
      // })
      $("#new_todo_title").focus();
      function openForm(evt){
        console.log(evt)  
        $(evt.currentTarget).replaceWith("\
          <form id='edit_title' action='/todo_items/update/"+evt.currentTarget.id+"' method='post'> \
          <input id='title_edit_field' type='text' value='"+$(evt.currentTarget).text()+"' name='todo_title'/> \
          ");
        $("#title_edit_field").focus();
        $("#title_edit_field").blur(function(){
          console.log("blurring");
          $(this.form).replaceWith("<span id='"+evt.currentTarget.id+"'>"+$(evt.currentTarget).text()+"</span>" )
        })
      }
      $('#todo_items').on('click', 'li span',openForm)
      $("body").append(document.title)
      // $("body").hide().fadeIn(3000)
      pullquote = function(){
        $("span.pq").each(function(){
          var quote = $(this).clone();
          quote.removeClass("pq").addClass("pullquote")
          $(this).before(quote);
          })
      }
      // $("p").replaceWith("<span class='pq'><p>" + $("p").html() + "</span></p>")
      pullquote();
    })
