#page(data-role='page')
    div(data-role='header')
        h1 Page One
      div(data-role='content')
        ul(data-role='listview')
          li
            a(href='#page2') Page Two
          li
            a(href='#page3') Page Three
          li
            a(href='#page4') Page Four
      div(data-role='footer')
        h4 Page Footer
    #page2(data-role='page')
      div(data-role='header')
        h1 Page Two
      div(data-role='content')
        | Content
      div(data-role='footer')
        h4 Page Footer
    #page3(data-role='page')
      div(data-role='header')
        h1 Page Three
      div(data-role='content')
        | Content
      div(data-role='footer')
        h4 Page Footer
    #page4(data-role='page')
      div(data-role='header')
        h1 Page Four
      div(data-role='content')
        | Content
      div(data-role='footer')
        h4 Page Footer
